<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Favorited new post titled "<%= @post.title %>"</h1>

    <p>
      Your new post on Bloccit has automatically been Favorited by your user ID of <%= @post.user.name %>:<br>
      <small>
        <%= @post.body %>
      </small>
    </p>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post, anchor: "post-#{@post.id}") %>
    </p>
  </body>
</html>
