<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button type="button" class="social-btn"><%= link_to "Add me to your network", "https://www.linkedin.com/in/jimrohrersocialcx", class: "social-btn" %></button>
