<br>
<div class="jumbotron" style="background-color: #FFFFAA">
  <h1>Sāyit</h1>
  <p>Sāyit is for sharing messages & information with your friends, and for making <em>new</em> friends!</p>
  <p>
    <% unless current_user %>
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    <% end %>
  </p>
</div>

<div class="row" style="background-color: #D4D46A">
  <div class="col-md-4">
    <h2>Share information</h2>
    <p>Post to Sāyit to bounce your thoughts and ideas off of others. Share your feedback with comments on the posts of others.</p>
  </div>
  <div class="col-md-4">
    <h2>Vote for posts you like</h2>
    <p>Don't have time to give detailed feedback? Use Sāyit's Vote feature (up or down) on posts to express agreement or disagreement with a single click.</p>
  </div>
  <div class="col-md-4">
    <h2>Save Favorites</h2>
    <p>Sāyit's Favorite feature makes it easy to save favorite posts from others to your personal profile's list of Favorites for quick, easy access later.</p>
  </div>
</div>
