// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  position: relative;
  width: auto;
  height: auto;
  background-color: gray;
  font-family: arial, helvetica, sans-serif;
  color: yellow;
  text-align: center;
  vertical-align: middle;
}
